{% extends 'base.html' %}

{% block content %}

<main class="container py-5">
    <section class="card card-body">
        <h1 class="display-1 text-center">Centro Médico Galenos</h1>
        <p> Lorem ipsum dolor sit amet consectetur, adipisicing elit.
            Delectus voluptatem sint voluptate quas sed dolorum, cumque aliquam doloribus libero quisquam eaque suscipit nobis, optio placeat ducimus temporibus quam.
            Adipisci a laborum eligendi quae doloremque culpa voluptatum molestiae exercitationem numquam magni pariatur eaque doloribus ipsa eius labore optio, voluptate
            velit cupiditate ratione aliquam in vero ipsum necessitatibus. Earum odio quibusdam dolorum facere accusantium, repellendus optio beatae in deserunt cumque reiciendis
            quod magnam nihil veniam ad quo assumenda ea eum ratione error. Eius, eum quia? Nulla et eligendi voluptas vero minus nobis magnam doloribus odit deserunt libero.
            Maxime nobis iusto soluta quam!</p>


            <div class="text-center">
                <a class="btn btn-secondary" href="/signin">
                    Iniciar Sesión
                </a>
                <a class="btn btn-dark" href="/signup">

                    Registrarse

                </a>

            </div>

    </section>
</main>

{% endblock %}