{% extends 'base.html' %}

{% block content %}

<main class="container">
    <div class="row">
        <div class="col-md-4 offset-md-4 mt-5">


            <div class="mt-1 card card-body">
                <h1 class="text-center display-5">Editar Consulta</h1>
                {{error}}

                <form method="POST">
                    {% csrf_token %}
                    {{form.as_p}}
                    <button class="btn btn-dark">
                        Actualizar
                    </button>     
                </form>
            
                <form action="{% url 'complete_task' task.id %}" method="POST">
                    {% csrf_token %}
                    <button  class="btn btn-light">
                        Completar
                    </button>
                </form>
            
                <form action="{% url 'delete_task' task.id %}" method="POST">
                    {% csrf_token %}
                    <button  class="btn btn-danger">
                        Eliminar
                    </button>
            </div>
            </form>        
        </div>
    </div>
</main>

{% endblock %}